
.container{
    margin-inline: auto;
}


@media all and (min-width: 575px) {
    .container{
        max-width: 575px;
    }
}

@media all and (min-width: 770px) {
    .container{
        max-width: 770px;
    }
}

@media all and (min-width: 993px) {
    .container{
        max-width: 993px;
    }
}

@media all and (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

@media all and (min-width: 1400px) {
    .container{
        max-width: 1400px;
    }
}