  /**
   * TYPOGRAPHY
   */

  /* font family */
  $fontFamily-inter: 'Inter', sans-serif;
  $fontFamily-clashDisplay: 'ClashDisplay', cursive;

  /* font size */
  $fontSize-1: 6.2rem;
  $fontSize-2: 4.4rem;
  $fontSize-3: 3.8rem;
  $fontSize-4: 3.4rem;
  $fontSize-5: 3rem;
  $fontSize-6: 2.5rem;
  $fontSize-7: 2rem;
  $fontSize-8: 1.8rem;
  $fontSize-9: 1.4rem;
  $fontSize-10: 2.4rem;
  $fontSize-11: 1.2rem;

  /* font weight */
  $weight-semiBold: 600;